@{  
    List<ProyectoInnovaWEB.Models.Manager.CandidataManager> Datos = ViewBag.Datos;
    ViewBag.Title = "Inicio";
}
<div class="container">
    <h3 class="text-center">Candidatas</h3><hr />
    <div class="row">

        @foreach (var item in Datos)
        {
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card card-inverse">
                    <div class="card-header">
                        <h5 class="text-center">
                            <span class="badge badge-pill badge-primary pull-right">@ProyectoInnovaWEB.Models.Manager.RankingManager.contarVotos(item.pkCandidata) Votos<span class="fa fa-thumbs-up"></span> </span>
                            @item.sNombre, @item.sAnios Años
                        </h5>
                    </div>
                    <div class="card-block">
                        <img class="card-img-top img-cand img-fluid img-thumbnail" src="data:image/png;base64,@item.Fotografia" alt="@item.sNombre">
                        <p class="card-text text-justify">
                            Nivel de Estudios: @item.sNivelEstudios
                            <br />
                            Municupio: @item.municipio
                        </p>
                        <p class="card-text text-justify">
                            @item.sDescripcion
                        </p>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary btn-block" value="Votar" onclick="votar(@item.pkCandidata)"/>
                    </div>
                </div>
            </div>
        }       

    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="contenido"></div>
        </div>
    </div>
</div>

@{
    <script type="text/javascript">
        var votar = function(id) {
            $("#contenido").load("/Home/Votar/" + id, function () {
                $('#myModal').modal("show");
            });
        }

    </script>
}